body {
    font-family: Arial, sans-serif;
    background-color: #f1f3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 
/* Main Box */
.login-container {
    display: flex;
    width: 750px;
    height: 420px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
 
/* Left Side */
.left-box {
    width: 40%;
    background-color: #2874f0;
    color: white;
    padding: 50px 30px;
}
 
.left-box h2 {
    font-size: 30px;
}
 
.left-box p {
    margin-top: 20px;
    font-size: 14px;
}
 
/* Right Side */
.right-box {
    width: 60%;
    padding: 40px;
}
 
.right-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 14px;
}
 
.right-box input:focus {
    border-color: #2874f0;
}
 
/* Terms */
.terms {
    font-size: 12px;
    color: gray;
}
 
.terms a {
    color: #2874f0;
    text-decoration: none;
}
 
/* Buttons */
button {
    width: 100%;
    padding: 10px;
    background-color: #fb641b;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
 
button:hover {
    background-color: #ff4c00;
}
 
/* OR Text */
.or {
    text-align: center;
    margin: 12px 0;
    color: gray;
}
 
/* OTP Button */
.otp-btn {
    background-color: white;
    color: #2874f0;
    border: 1px solid #2874f0;
}
 
/* Signup */
.signup {
    text-align: center;
    margin-top: 20px;
}
 
.signup a {
    color: #2874f0;
    text-decoration: none;
    font-weight: bold;
}
 
/* Message */
#msg {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
